<div class="picker-dropdown-container" ng-class="{'disabled': obDateRangePicker.disabled()}">
  <div class="picker-dropdown" ng-class="{'open': obDateRangePicker.isPickerVisible}" ng-click="obDateRangePicker.togglePicker()">
    <span>{{obDateRangePicker.value}}</span>
  </div>
  <div class="picker" ng-class="{'open': obDateRangePicker.isPickerVisible}" ng-show="obDateRangePicker.isPickerVisible">
    <div class="date-range" ng-show="obDateRangePicker.isCustomVisible">
      <date-range-picker ng-if="obDateRangePicker.isPickerVisible"
        api="obDateRangePicker.pickerApi"
        interceptors="obDateRangePicker.pickerInterceptors"
        linked-calendars="obDateRangePicker.linkedCalendars()"
        week-start="obDateRangePicker.weekStart()"
        range="obDateRangePicker._range"
        week-days-name="obDateRangePicker.weekDaysName()"
        min-day="obDateRangePicker._getMinDay()"
        max-day="obDateRangePicker._getMaxDay()"
        month-format="obDateRangePicker.monthFormat()"
        input-format="obDateRangePicker.inputFormat()">
      </date-range-picker>
    </div>
    <div class="time">
      <input type="time" ng-model="startTime">
      <input type="time" ng-model="endTime">
    </div>
  </div>
</div>
